form input, form label{
    display: block;
}
form input{
    margin-bottom: 1em;
    padding: 0.5em;
}
.hidemessage{
    display:none;
} 
.showmessage{
    display:block;
    background-color: red;
}